langchain 
openai 
tiktoken 
yfinance 
google-search-results 
selenium 
google-api-python-client 
pinecone-client 
google-cloud-storage 
langchain_experimental 
requests 
beautifulsoup4 
requests-html 
langchainhub
streamlit
python-dotenv
matplotlib