langchain 
langchain_community
openai 
tiktoken 
yfinance 
langchain_experimental 
langchainhub
streamlit
python-dotenv
TA-Lib-Precompiled
langchain_openai
scikit-learn
huggingface_hub
transformers
google.generativeai
langchain_google_genai
google-generativeai
langchain_google_genai
langchain_mistralai